.btn-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.button{
    margin: 5px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}