
    <div class="btn-group">
        <button class="button">Bàn 01</button>
        <button class="button">Bàn 02</button>
        <button class="button">Bàn 03</button>
        <button class="button">Bàn 04</button>
        <button class="button">Bàn 05</button>
    </div>
    <div class="btn-group">
        <button class="button">Bàn 06</button>
        <button class="button">Bàn 07</button>
        <button class="button">Bàn 08</button>
        <button class="button">Bàn 09</button>
        <button class="button">Bàn 10</button>
    </div>
