<table class="table" border="1px">
  <!-- <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead> -->
  <tbody>
    <tr>
      <td rowspan="2"><app-order-item></app-order-item></td>
      <td colspan="2"><app-ban></app-ban></td>
      <td rowspan="2"><app-hoadon></app-hoadon></td>
    </tr>
    <tr>      
      <td><app-content></app-content></td>
      <td><app-hdbh></app-hdbh></td>
      
    </tr>
    <tr>
      <td colspan="4"><a md-button routerLink="/dashboard" routerLinkActive="active"><button>Quản lý</button></a></td>
    </tr>
  </tbody>
</table>