<div class="take-away">
    <h3>Take away</h3>
    <table>
      <tr>
        <th>Món</th>
        <th>SL</th>
      </tr>
      <tr>
        <td>Trà sữa</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Capuchino</td>
        <td>1</td>
      </tr>
    </table>
    <div class="input-group">
      <label>Ghi chú:</label>
      <input type="text" placeholder="Ghi chú">
    </div>
    <div class="input-group">
      <label>Giá:</label>
      <input type="text" value="100.000VNĐ" readonly>
    </div>
    <div class="input-group">
      <label>Ngày:</label>
      <input type="text" value="12/12/2023" readonly>
    </div>
  </div>