<div class="order-details">
    <h3>Hóa đơn bán hàng</h3>
    <div class="search-input">
      <input type="text" placeholder="Nhập mã/Tên món cần tìm">
      <button>Tìm kiếm</button>
    </div>
    <table>
      <tr>
        <th>Tên món</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
      </tr>
      <tr>
        <td>Trà thạch đào</td>
        <td>1</td>
        <td>49.000 VND <button>X</button></td>
      </tr>
      <tr>
        <td>Black Coffee</td>
        <td>1</td>
        <td>25.000 VND <button>X</button></td>
      </tr>
      <tr>
        <td>Cappuccino</td>
        <td>2</td>
        <td>65.000 VND <button>X</button></td>
      </tr>
      <tr>
        <td>Irish Coffee</td>
        <td>1</td>
        <td>50.000 VND <button>X</button></td>
      </tr>
      <tr>
        <td>Mousse Cacao</td>
        <td>2</td>
        <td>29.000 VND <button>X</button></td>
      </tr>
      <tr>
        <td>Phô mai Caramel</td>
        <td>1</td>
        <td>29.000 VND <button>X</button></td>
      </tr>
    </table>
    <div class="total">
      <div class="price">341.000 VND</div>
      <p>Tổng tiền</p>
    </div>
    <button>Tạo đơn</button>
  </div>