<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="app-container">
        <header>
          <app-header></app-header>
        </header>
        <div>
            <app-sidebar></app-sidebar>
        </div>
        
        <main class="app-content">
          <!-- Nội dung chính ở đây -->
          <router-outlet />
        </main>
      </div>
</body>
</html>
<app-header></app-header>
<!-- <router-outlet /> -->
<!-- <app-sidebar></app-sidebar> -->



