/* Reset CSS để đảm bảo mọi trình duyệt hiển thị nhất quán */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Định nghĩa cấu trúc chung */
  .app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .app-content {
    margin-left: 252px; /* Đảm bảo nội dung chính không bị đè bởi sidebar */
    margin-top: 38px;
    padding: 20px;
  }

