<div class="payment-details">
    <h3>Bàn 01</h3>
    <div class="input-group">
      <label>Ngày:</label>
      <input type="text" value="12/12/2023" readonly>
    </div>
    <div class="input-group">
      <label>Giờ vào:</label>
      <input type="text" value="14:24" readonly>
    </div>
    <div class="input-group">
      <label>Giờ ra:</label>
      <input type="text" value="15:30" readonly>
    </div>
    <div class="input-group">
      <label>Thu ngân:</label>
      <input type="text" value="N.V.A" readonly>
    </div>
    <div class="table-container">
      <table>
        <tr>
          <th>Mặt hàng</th>
          <th>Số lượng</th>
          <th>Giá</th>
          <th>Thành tiền</th>
        </tr>
        <tr>
          <td>Row 1</td>
          <td>123</td>
          <td>456</td>
          <td>456</td>
        </tr>
        <tr>
          <td>Row 2</td>
          <td>123</td>
          <td>456</td>
          <td>456</td>
        </tr>
      </table>
    </div>
    <div class="total">
      <div class="price">341.000 VND</div>
      <p>Tổng tiền</p>
    </div>
    <div class="btn-group">
      <button>Thanh toán</button>
      <button class="cancel">Thanh toán & in hóa đơn</button>
    </div>
</div>
